// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

#agenda-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    width: 100%;
    height: 100%;

    .agenda {
        display: flex;
        width: 90%;
        flex-direction: column;

        .content-header-wrapper {
            column-gap: 15px;

            .header-date {
                color: currentColor;
                border-radius: 10px;
            }

            .content-header {
                column-gap: 15px;

                .dropdown-menu-container {
                    width: 10rem;
                    min-width: 100px;
                    background-color: $themeColor;
                    color: white;
                    border-radius: 10px;

                    .dropdown-first-child {
                        width: 10rem;
                        min-width: 100px;
                    }

                    .dropdown-list-container {
                        .dropdown-list {
                            position: relative;
                            z-index: 100;
                            width: 10rem;
                            min-width: 100px;
                            transform: translateX(-50%);
                            -webkit-transform: translateX(-50%);
                            -moz-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                            -o-transform: translateX(-50%);

                            .dropdown-items-wrapper {
                                max-height: 300px;
                                white-space: nowrap;
                                overflow-y: auto;
                                overflow-x: hidden;
                                height: auto;

                                .list-item {
                                    padding: 5px 1px;
                                    border-bottom: 2px solid $themeColorAccent;
                                    transition: .35s ease-in-out;
                                    color: white;
                                    cursor: pointer;

                                    &:hover {
                                        border-bottom: 2px solid white;
                                        color: white;
                                    }
                                }

                                &::-webkit-scrollbar {
                                    width: 2px;
                                    margin-left: 1px;
                                }

                                &::-webkit-scrollbar-track {
                                    background: #F27500;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background: #ffff;
                                }

                                &::-webkit-scrollbar-thumb:hover {
                                    background: #ffff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .agenda-child-container {
            margin-top: 20px;
            height: 350px;
            background: radial-gradient(ellipse at center, $themeColorAccent 0%, $themeColor 100%);
            display: flex;
            flex-direction: column;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px #f5c598;
                background-color: white;
            }

            &::-webkit-scrollbar-thumb {
                background: $themeColorAccent;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: $themeColor;
            }

            .header-container {
                width: calc(100% - 100px);
                height: 60px;
                margin-left: 100px;
                display: flex;
                flex-direction: row;
                flex-grow: 1;

                .fake-header-time-item {
                    width: 100px;
                    height: 60px;
                    margin-left: -100px;
                    position: fixed;
                    background-color: #f17907;
                    display: block;
                    z-index: 10;
                }

                .sticky-header {
                    width: calc(90% - 110px);
                    height: 60px;
                    position: fixed;

                    #header-spaces-container {
                        height: 60px;
                        margin-left: 5px;

                    }
                }
            }

            .content-container {
                display: flex;
                flex-direction: column;
                margin-top: 60px;
                justify-content: space-between;

                .time-container {
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    span {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 35px;
                        border: 1px solid black;
                        margin-top: -1px;

                        &:nth-child(1) {
                            margin-top: 0px !important;
                        }
                    }
                }

                .time-grid-item {
                    width: 100%;
                }
            }
        }
    }
}



#text-truncate-with-flex {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
