// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

#agenda-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    .agenda {
        display: flex;
        width: 90%;
        flex-direction: column;

        .content-header-wrapper {
            column-gap: 15px;

            .header-date {
                color: currentColor;
            }

            .content-header {
                column-gap: 15px;

                .dropdown-menu-container {
                    width: 10rem;
                    min-width: 100px;
                    background-color: $themeColor;
                    color: white;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;

                    .dropdown-first-child {
                        width: 10rem;
                        min-width: 100px;
                    }

                    .dropdown-list-container {
                        .dropdown-list {
                            width: 10rem;
                            min-width: 100px;
                            transform: translateX(-50%);
                            -webkit-transform: translateX(-50%);
                            -moz-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                            -o-transform: translateX(-50%);

                            .dropdown-items-wrapper {
                                max-height: 300px;
                                white-space: nowrap;
                                overflow-y: auto;
                                overflow-x: hidden;
                                height: auto;

                                .list-item {
                                    padding: 5px 1px;
                                    border-bottom: 2px solid $themeColorAccent;
                                    transition: .35s ease-in-out;
                                    color: white;
                                    cursor: pointer;

                                    &:hover {
                                        border-bottom: 2px solid white;
                                        color: white;
                                    }
                                }

                                &::-webkit-scrollbar {
                                    width: 2px;
                                    margin-left: 1px;
                                }

                                &::-webkit-scrollbar-track {
                                    background: #F27500;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background: #ffff;
                                }

                                &::-webkit-scrollbar-thumb:hover {
                                    background: #ffff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .content-body {
            cursor: pointer;

            .buildings-wrapper {
                margin-left: 100px;
            }
        }
    }
}
