// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

#container-datatable {
    width: clamp(50%, 700px, 90%);
    height: clamp(50%, 700px, 50%);
    margin-top: 100px;
    // background: radial-gradient(ellipse at center, $themeColorAccent 0%, $themeColor 100%);
    // background: radial-gradient(ellipse at center, #ff5221 0%, #ffb33b 100%);
    background: radial-gradient(ellipse at center, #ffb33b 0%, #ff5221 100%);
}
