@import url(https://fonts.googleapis.com/css?family=Nunito);
#agenda-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
#agenda-wrapper .agenda {
  display: flex;
  width: 90%;
  flex-direction: column;
}
#agenda-wrapper .agenda .content-header-wrapper {
  -moz-column-gap: 15px;
       column-gap: 15px;
}
#agenda-wrapper .agenda .content-header-wrapper .header-date {
  color: currentColor;
  border-radius: 10px;
}
#agenda-wrapper .agenda .content-header-wrapper .content-header {
  -moz-column-gap: 15px;
       column-gap: 15px;
}
#agenda-wrapper .agenda .content-header-wrapper .content-header .dropdown-menu-container {
  width: 10rem;
  min-width: 100px;
  background-color: #F27500;
  color: white;
  border-radius: 10px;
}
#agenda-wrapper .agenda .content-header-wrapper .content-header .dropdown-menu-container .dropdown-first-child {
  width: 10rem;
  min-width: 100px;
}
#agenda-wrapper .agenda .content-header-wrapper .content-header .dropdown-menu-container .dropdown-list-container .dropdown-list {
  width: 10rem;
  min-width: 100px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
#agenda-wrapper .agenda .content-header-wrapper .content-header .dropdown-menu-container .dropdown-list-container .dropdown-list .dropdown-items-wrapper {
  max-height: 300px;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
}
#agenda-wrapper .agenda .content-header-wrapper .content-header .dropdown-menu-container .dropdown-list-container .dropdown-list .dropdown-items-wrapper .list-item {
  padding: 5px 1px;
  border-bottom: 2px solid #ec9b4f;
  transition: 0.35s ease-in-out;
  color: white;
  cursor: pointer;
}
#agenda-wrapper .agenda .content-header-wrapper .content-header .dropdown-menu-container .dropdown-list-container .dropdown-list .dropdown-items-wrapper .list-item:hover {
  border-bottom: 2px solid white;
  color: white;
}
#agenda-wrapper .agenda .content-header-wrapper .content-header .dropdown-menu-container .dropdown-list-container .dropdown-list .dropdown-items-wrapper::-webkit-scrollbar {
  width: 2px;
  margin-left: 1px;
}
#agenda-wrapper .agenda .content-header-wrapper .content-header .dropdown-menu-container .dropdown-list-container .dropdown-list .dropdown-items-wrapper::-webkit-scrollbar-track {
  background: #F27500;
}
#agenda-wrapper .agenda .content-header-wrapper .content-header .dropdown-menu-container .dropdown-list-container .dropdown-list .dropdown-items-wrapper::-webkit-scrollbar-thumb {
  background: #ffff;
}
#agenda-wrapper .agenda .content-header-wrapper .content-header .dropdown-menu-container .dropdown-list-container .dropdown-list .dropdown-items-wrapper::-webkit-scrollbar-thumb:hover {
  background: #ffff;
}
#agenda-wrapper .agenda .content-body {
  cursor: pointer;
}
#agenda-wrapper .agenda .content-body #agenda-content-container {
  background-color: #F27500;
  height: 350px;
  border-radius: 10px;
  max-height: auto;
  overflow-y: scroll;
}
#agenda-wrapper .agenda .content-body #agenda-content-container .buildings-wrapper #header-spaces-container {
  height: 52px;
}
#agenda-wrapper .agenda .content-body #agenda-content-container .buildings-wrapper #header-spaces-container .fake-time-container {
  width: 100px;
  height: 52px;
}
#agenda-wrapper .agenda .content-body #agenda-content-container .agenda-content #time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
}
#agenda-wrapper .agenda .content-body #agenda-content-container .agenda-content #time-container-fake {
  height: 52px;
  width: 100px;
}
