@import url(https://fonts.googleapis.com/css?family=Nunito);
.datatable-wrapper {
  display: flex !important;
  width: 100% !important;
  justify-content: center !important;
  align-items: center !important;
}
.datatable-wrapper .table {
  width: 90% !important;
}
