@import url(https://fonts.googleapis.com/css?family=Nunito);
.head-row-150,
.body-row-150 {
  width: 150px !important;
}

.users-overview-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

#row-name {
  text-align: center;
}

.table-row-max-height {
  height: 100% !important;
}

#view-building-wrapper #container-datatable,
#content-wrapper #container-datatable {
  width: clamp(50%, 700px, 90%);
  height: clamp(50%, 700px, 50%);
  margin-top: 100px;
  border-radius: 25px;
  margin-bottom: 25px;
  background: radial-gradient(ellipse at center, #ec9b4f 0%, #F27500 100%);
}
#view-building-wrapper #container-datatable #table-head #searchbbar-input,
#content-wrapper #container-datatable #table-head #searchbbar-input {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: transparent;
  padding-left: 15px;
  outline: none;
  color: white;
}
#view-building-wrapper #container-datatable #table-head #searchbbar-input::-moz-placeholder,
#content-wrapper #container-datatable #table-head #searchbbar-input::-moz-placeholder {
  color: white;
  opacity: 1;
}
#view-building-wrapper #container-datatable #table-head #searchbbar-input:-ms-input-placeholder,
#content-wrapper #container-datatable #table-head #searchbbar-input:-ms-input-placeholder {
  color: white;
}
#view-building-wrapper #container-datatable #table-head #searchbbar-input::-moz-placeholder, #content-wrapper #container-datatable #table-head #searchbbar-input::-moz-placeholder {
  color: white;
}
#view-building-wrapper #container-datatable #table-head #searchbbar-input:-ms-input-placeholder, #content-wrapper #container-datatable #table-head #searchbbar-input:-ms-input-placeholder {
  color: white;
}
#view-building-wrapper #container-datatable #table-head #searchbbar-input::placeholder,
#content-wrapper #container-datatable #table-head #searchbbar-input::placeholder {
  color: white;
}
#view-building-wrapper #container-datatable #table-head #refresh-datatable,
#content-wrapper #container-datatable #table-head #refresh-datatable {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: transparent;
}
#view-building-wrapper #container-datatable #table-content,
#content-wrapper #container-datatable #table-content {
  width: 100%;
}
#view-building-wrapper #container-datatable #table-content #table-data,
#content-wrapper #container-datatable #table-content #table-data {
  width: 100%;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-content-head,
#content-wrapper #container-datatable #table-content #table-data #table-content-head {
  width: 100%;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-content-head #table-head-row,
#content-wrapper #container-datatable #table-content #table-data #table-content-head #table-head-row {
  margin-top: 15px;
  width: 100%;
  text-overflow: ellipsis;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-content-head #table-head-row #head-row,
#content-wrapper #container-datatable #table-content #table-data #table-content-head #table-head-row #head-row {
  width: 20%;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-body,
#content-wrapper #container-datatable #table-content #table-data #table-body {
  margin-top: 15px;
  width: 100%;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-body #table-body-row,
#content-wrapper #container-datatable #table-content #table-data #table-body #table-body-row {
  height: 40px;
  width: 100%;
  text-overflow: ellipsis;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-body #table-body-row #hoverable-item div span::after,
#content-wrapper #container-datatable #table-content #table-data #table-body #table-body-row #hoverable-item div span::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: white;
  transition: width 0.35s;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-body #table-body-row #hoverable-item div span:hover::after,
#content-wrapper #container-datatable #table-content #table-data #table-body #table-body-row #hoverable-item div span:hover::after {
  width: 100%;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-body #table-body-row #body-row,
#content-wrapper #container-datatable #table-content #table-data #table-body #table-body-row #body-row {
  width: 20%;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-body #table-body-row a,
#content-wrapper #container-datatable #table-content #table-data #table-body #table-body-row a {
  width: 20%;
  text-decoration: none;
  color: white;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-body #table-body-row a .body-row-name,
#content-wrapper #container-datatable #table-content #table-data #table-body #table-body-row a .body-row-name {
  transition: 250ms;
  width: 100% !important;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-body #table-body-row:nth-child(odd),
#content-wrapper #container-datatable #table-content #table-data #table-body #table-body-row:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.15);
}
#view-building-wrapper #container-datatable #table-content #table-data #table-body #table-body-row:hover,
#content-wrapper #container-datatable #table-content #table-data #table-body #table-body-row:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#view-building-wrapper #container-datatable #table-content #table-data #table-footer,
#content-wrapper #container-datatable #table-content #table-data #table-footer {
  color: currentColor;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #modal,
#content-wrapper #container-datatable #table-content #table-data #table-footer #modal {
  margin-top: -113px;
  background-color: rgba(23, 23, 23, 0.82);
  border-radius: 15px;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #modal #modal-list,
#content-wrapper #container-datatable #table-content #table-data #table-footer #modal #modal-list {
  list-style: none;
  width: 100px;
  height: 100px;
  color: #b6b6b6;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #modal #modal-list span,
#content-wrapper #container-datatable #table-content #table-data #table-footer #modal #modal-list span {
  width: 100px;
  text-align: center;
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #modal #modal-list span:hover:not(.selected),
#content-wrapper #container-datatable #table-content #table-data #table-footer #modal #modal-list span:hover:not(.selected) {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border-radius: 15px;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #modal #modal-list .selected,
#content-wrapper #container-datatable #table-content #table-data #table-footer #modal #modal-list .selected {
  background-color: rgba(0, 0, 0, 0.82);
  border-radius: 15px;
  color: white;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #modal #modal-arrow-down-icon,
#content-wrapper #container-datatable #table-content #table-data #table-footer #modal #modal-arrow-down-icon {
  border-top: 11px solid rgba(23, 23, 23, 0.73);
  border-left: 13px solid rgba(0, 0, 0, 0);
  border-right: 13px solid rgba(0, 0, 0, 0);
  border-bottom: none;
  position: absolute;
  top: 100px;
  left: 13px;
  width: 10px;
  height: 10px;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #rows-visible #rows-visible-container #toggle-rows-button,
#content-wrapper #container-datatable #table-content #table-data #table-footer #rows-visible #rows-visible-container #toggle-rows-button {
  width: 55px;
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #pages-icons,
#content-wrapper #container-datatable #table-content #table-data #table-footer #pages-icons {
  margin-right: 10px;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #pages-icons #container div,
#content-wrapper #container-datatable #table-content #table-data #table-footer #pages-icons #container div {
  border: 1px solid transparent;
  min-width: 30px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 2px;
  cursor: context-menu;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: 250ms;
  color: rgba(207, 207, 207, 0.61);
  font-weight: bold;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #pages-icons #container #border-white,
#content-wrapper #container-datatable #table-content #table-data #table-footer #pages-icons #container #border-white {
  border: 1px solid white;
  color: white !important;
}
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #pages-icons #container #to-start:hover,
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #pages-icons #container #to-end:hover,
#view-building-wrapper #container-datatable #table-content #table-data #table-footer #pages-icons #container #selectable-page:hover,
#content-wrapper #container-datatable #table-content #table-data #table-footer #pages-icons #container #to-start:hover,
#content-wrapper #container-datatable #table-content #table-data #table-footer #pages-icons #container #to-end:hover,
#content-wrapper #container-datatable #table-content #table-data #table-footer #pages-icons #container #selectable-page:hover {
  border: 1px solid white;
  color: white !important;
}

#view-container #container {
  width: clamp(50%, 700px, 90%);
  height: clamp(50%, 700px, 50%);
  margin-top: 100px;
  border-radius: 25px;
  background: radial-gradient(ellipse at center, #ec9b4f 0%, #F27500 100%);
}
